{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0; 
	padding: 0 5%;
	height: 100px;
	background-color: #242526;
	font-family: arial;
}



nav .list {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .list li {
	list-style: none;
}

nav .list a:hover{
	background-color: #666666;
	display: inline-block;
	padding: 15px;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	font-family: Arial Black

}

.titulo{
    font-family: arial;
	}

	.titulo2{
    font-family: arial;
	}

	.logo{
     margin-top: 90px;
		}

	 p{
		
	
font-family: arial
	 }

	 .sub-logo {
	 	position: fixed;
	 	margin-top: -2px;
	 	box-shadow: 0px 0px 0px 0PX #0000ff;
	 	transition: all 400ms ease;
	 }

	  .sub-logo:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);
	   }

	 .button{
	 	color: #0000ff
	 }

	 a {
	 	text-decoration: none;
	 }

	 .contadordevisitas{
	 	position: fixed;
	 	margin-top: -1800px; 
	 	
	 	font-family: arial;
	 }	

	 .A1{
	 	margin-top: 120px;
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;

	 }

	 .A1:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


	 .A2{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }


	 .A2:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }



	 .A3{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	   }

     
	 .A3:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


	 .B1{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }


	 .B1:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


     .B2{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }


	 .B2:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


     .B3{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }

	 .B3:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


       .C1{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }

	 .C1:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }


     .C2{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }


	 .C2:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }

      .C3{
	 	margin-left: 50px;
	 	box-shadow: 0px 0px 0px #ffffff;
	 	transition: all 400ms ease;
	 }


	 .C3:hover{
	 	box-shadow: 0px 0px 0px 10px #0000ff;
	 	transform: translateY(-3%);

	 }

	 .TDJ{
	 	margin-top:120px;
	 }

	 .fb-comments{
	 	margin-top:120px;
	 }

	 .botondescarga{
	 	background-color: transparent; border: none;
	 	cursor: pointer;
	 }




